*.o
*.a
*.decl.h
*.def.h
config.*
!config.h.in
Makefile
charmrun
charmrun.*
ChaNGa*
VERSION
VERSION.new
cha_commitid.c

# autoconf caches
autom4te.cache/

# Eclipse folders
.cproject
.project

# These should be rebuilt
Makefile.dep
cuda.mk

#CAMBRIDGE
*.den
*.out
*.000*
*.log
*.tbin
*_bkp
