[access]
	inheritFrom = Public
[project]
[access "refs/*"]
	owner = group Cosmology Administrators
[access "refs/heads/master"]
	exclusiveGroupPermissions = push
	push = +force group Cosmology Administrators
[access "refs/heads/*"]
	create = group Cosmology Collaborators
	push = +force group Cosmology Collaborators
	submit = group Cosmology Collaborators
[access "refs/tags/*"]
	owner = group Cosmology Administrators
	createTag = group Cosmology Administrators
