[access]
	inheritFrom = Public
[project]
	state = active
[access "refs/heads/*"]
	create = group Cosmology
	push = +force group Cosmology
	pushMerge = group Cosmology
	pushTag = +force group Cosmology
	pushSignedTag = group Cosmology
	rebase = group Cosmology
	submit = group Cosmology
[access "refs/*"]
	owner = group Cosmology
